
        body{
        margin: 0;
        background-color: hsl(189, 62%, 70%);
        color:#333333;
        font:100% / npraml sans-serif;

        }
        table{
            border-collapse:collapse;
            width:90%;
            border:4px solid hsl(123.0%,90%);
            background-color:rgb(178, 207, 234);
            text-align:center;
            margin-left: auto;  
            margin-right: auto;
        }
        td,th{
            padding:5px;
            border:1px solid;
            text-align:center;
        }
        h2{
            text-align:center;

        }
        .right{
            text-align:center;
        }

  